[[source]]
name = "pypi"
url = "$PYPI_URL"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-runner = "*"

[packages]
click = "*"
transactions-assessment = {editable = true,path = "."}
pandas = "*"
ipykernel = "*"
jupyter = "*"
pandas-profiling = "*"

[requires]
python_version = "3.9"
